In [ ]:
# Deklarasi array kosong
data = []

# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# Menampilkan isi array
print("Isi array angka:", angka)

Isi array angka: [10, 20, 30, 40, 50]

In [ ]:
# Latihan 1
data = []
NPM = [2410506002, 2410506003, 2410506004, 2410506005, 2410506006]
print("Data NPM:", NPM)

Data NPM: [2410506002, 2410506003, 2410506004, 2410506005, 2410506006]

In [ ]:
# Mengakses elemen Array
print("Elemen pertama:", angka[0]) # Elemen pertama
print("Elemen terakhir:", angka[-1]) # Elemen terakhir

Elemen pertama: 10
Elemen terakhir: 50

In [ ]:
# Menambah elemen menggunakan append()
angka.append(60)
print("Array setelah penambahan elemen:", angka)

# Menambah elemen menggunakan insert()
angka.insert(2, 25) # Menyisipkan 25 di indeks ke-2
print("Array setelah penambahan elemen dengan insert:", angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]
Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]

In [ ]:
# Menghapus elemen menggunakan remove()
angka.remove(25) # Menghapus nilai 25
print("Array setelah menghapus elemen 25:", angka)

# Menghapus elemen menggunakan pop()
angka.pop(2) # Menghapus elemen pada indeks ke-2
print("Array setelah menghapus elemen pada indeks 2:", angka)

Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen pada indeks 2: [10, 20, 40, 50, 60]

In [ ]:
# Mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pertama:", angka)

Array setelah mengubah elemen pertama: [100, 20, 40, 50, 60]

In [ ]:
# Latihan 2
NPM[0] = 241050600213
print("NPM setelah menambah nilai:", NPM)

angka.pop(0)
print("NPM setelah menghapus elemen pada indeks 0:", NPM)

NPM setelah menambah nilai: [241050600213, 2410506003, 2410506004, 2410506005, 2410506006]
NPM setelah menghapus elemen pada indeks 0: [241050600213, 2410506003, 2410506004, 2410506005, 2410506006]

In [ ]:
angka = [10, 20, 30, 40]

for nilai in angka:
  print("Nilai:", nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

In [ ]:
# Latihan 3
fakultas = ["Fakultas Teknik", "Fakultas Ekonomi", "Fakultas Keguruan dan Ilmu Pendidikan", "Fakultas Ilmu Sosial dan Ilmu Politik", "Fakultas Pertanian"]
for daftar in fakultas:
  print("Fakultas:", daftar)

Fakultas: Fakultas Teknik
Fakultas: Fakultas Ekonomi
Fakultas: Fakultas Keguruan dan Ilmu Pendidikan
Fakultas: Fakultas Ilmu Sosial dan Ilmu Politik
Fakultas: Fakultas Pertanian

In [ ]:
angka = [10, 20, 30, 40]

print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum:", min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum: 10

In [ ]:
# Latihan 4
harga = [30000, 40000, 50000, 60000]
print("Total harga:", sum(harga))
print("Harga maksimum:", max(harga))
print("Harga minimum:", min(harga))

Total harga: 180000
Harga maksimum: 60000
Harga minimum: 30000

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Menampilkan isi array 2D
print("Isi aray 2D:")
for baris in matriks:
  print(baris)

Isi aray 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# Latihan 5
#Deklarasi array 2D
array_2d = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 3, 5, 7]
]
#Menampilkan isi array 2D
print("Isi array_2d:")
for matriks in array_2d:
  print(matriks)

Isi array_2d:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 3, 5, 7]

In [ ]:
# Mengakses elemen pada baris ke-1, kolom ke-2 (indeks [0] [1])
print("Elemen pada baris 1, kolom 2:", matriks[0][1])

# Mengakses elemen terakhir (baris ke-3, kolom ke-3)
print("Elemen terakhir:", matriks [-1] [-1])

Elemen pada baris 1, kolom 2: 2
Elemen terakhir: 9

In [ ]:
# Latihan 6
print("Elemen pada baris 2, kolom 4:", array_2d[1][3])

Elemen pada baris 2, kolom 4: 8

In [ ]:
# Menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah baris baru:", matriks)

# Menambahkan elemen pada baris ke-2
matriks[1].append(99)
print("Array setelah menambahkan elemen di baris ke-2:", matriks)

Array setelah baris baru: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
Array setelah menambahkan elemen di baris ke-2: [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]

In [ ]:
# Latihan 7
array_2d.append([9, 1, 20, 7])
for matriks in array_2d:
  print(matriks)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 3, 5, 7]
[9, 1, 20, 7]

In [ ]:
# Menghapus elemen tertentu dari baris ke-1
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:", matriks)

# Menghapus elemen pada indeks tertentu baris ke-2
matriks[1].pop(1)
print("Array setelah menghapus elemen indeks ke-1 dari baris ke-2:", matriks)

Array setelah menghapus elemen 2 dari baris pertama: [[1, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]
Array setelah menghapus elemen indeks ke-1 dari baris ke-2: [[1, 3], [4, 6, 99], [7, 8, 9], [10, 11, 12]]

In [ ]:
# Latihan 8
array_2d[3].pop(2)
print("Array setelah menghapus elemen ke-3 dari baris terakhir:", array_2d)

Array setelah menghapus elemen ke-3 dari baris terakhir: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 3, 5, 7], [9, 1, 7]]

In [ ]:
# Mengubah elemen pada baris ke-3, kolom ke-2
matriks[2][1] = 88
print("Array setelah mengubah elemen baris ke-3, kolom ke-2:", matriks)

Array setelah mengubah elemen baris ke-3, kolom ke-2: [[1, 3], [4, 6, 99], [7, 88, 9], [10, 11, 12]]

In [ ]:
# Latihan 9
array_2d[-1][-1] = 14
print("Array setelah mengubah elemen baris ke-4, kolom ke-4:", array_2d)

Array setelah mengubah elemen baris ke-4, kolom ke-4: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 3, 5, 7], [9, 1, 14]]

In [ ]:
belanja = ["Beras", "Gula", "Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Beras', 'Minyak', 'Teh']

In [ ]:
# Latihan 10
daftar_belanja = ["Beras", "Tepung", "Telur", "Garam"]
daftar_belanja.remove("Beras")
daftar_belanja.append("Minyak")
daftar_belanja.pop(1)

print("Daftar Belanja:", daftar_belanja)

Daftar Belanja: ['Tepung', 'Garam', 'Minyak']